@import minireset
@import variables
@import utilities
@import container

body, html
  background-color: #ECECEC

// Import fonts
@font-face
  font-family: Input Serif
  src: url('/fonts/InputSerif-Black.ttf')
  src: url('/fonts/InputSerif-Bold.ttf')
  src: url('/fonts/InputSerif-Medium.ttf')

//
// Layouts
//
@import navbar
@import main_header


