footer.footer
  .container
    ul.links
      li
        a#shift-alert(href="") DEVELOPMENT
        p Press Shiftkey
      li
        a(href="") INTERN
      li
        a(href="") INTERN

    section.find-here
      h1.wow.bounceInRight(data-wow-duration="2s") FIND YOUR DREAM JOB HERE
