header
  .container
    section
      h1.wow.fadeIn(data-wow-duration="2s")  365
      h3.wow.fadeIn(data-wow-delay=".4s") Tentenday Challenge
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
      button.cta APPLY NOW
      button.cta-2 CALL TO ACTION
    section#right
      img#null(src="/img/null-sticker.png")
      img#code-push.wow.bounceInLeft(src="/img/code-push-sticker.png" data-wow-delay=".6s" data-wow-duration="3s")
      img#it-worked(src="/img/it-worked-sticker.png")
