header
  .container
    section
      h1 365
      h3 Tentenday Challenge
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
      button.cta CALL TO ACTION
      button.cta-2 CALL TO ACTION
    section#right
      img#null(src="/img/null-sticker.png")
      img#code-push(src="/img/code-push-sticker.png")
      img#it-worked(src="/img/it-worked-sticker.png")
