section.hero
  .container
    
    div.left-item
      h1 <span id="green-heading">THREE REASONS</span> WHY YOU SHOULD WORK AT TENTEN
      p At Tenten, we listen. Our success has been defined by listening to everyone's voice, regardless of position. Working at Tenten gives you an opportunity to develop your technical and design skills in an environment where we constantly encourage everyone to try new things.
    
    div.right-item
      img(src="/img/tenten-team-photo.jpg", alt="tenten-team-photo", srcset="")