nav
  .container
    .navbar-brand
      a.navbar-item(href="/")
    .navbar-end
      a.navbar-item(href="#") TEN2DAY
      a.navbar-item(href="#") WHY US
      a.navbar-item(href="#") TENTEN PERKS
      a.navbar-item(href="#") RECRUIT

    button.hamburger.hamburger--slider(type="button")
      span.hamburger-box
      span.hamburger-inner


