section.whyus
  .container
      article.reverse
        div.content
          span.reason REASON #1
          h1.title 
            span.icon.bank.wow.wobble(data-wow-duration="2s") 
            | Culture
          p Make cool shit. Get paid. It’s the tenten way of life. We're a group of bright young innovators.

        figure
          img(src="/img/culture.jpg")

      article
          div.content
            span.reason REASON #2
            h1.title 
              span.icon.star.wow.wobble(data-wow-duration="2s") 
              | Do Great Works
            p Our goal is simple. We want to make things that people care about. We were founded on this principle and we will always be committed to it. We only hire great people who strive to push their ideas into fruition by out-muscling and out-hustling the competition. Talk less, do more and you will be rewarded.

          figure
            img(src="/img/wo.jpg")
      
      article.reverse
        div.content
          span.reason REASON #3
          h1.title 
            span.icon.like.wow.wobble(data-wow-duration="2s") 
            | We Love Working Here
          p Work hard. Play hard. You have heard it before but we will say it again. When you roll with us, you're in it for the long haul. Whether we're sketching out new ideas in the Think Tank or we're opening the office bar during lunch, you'll feel welcome and included. We always get our sleeves rolled up, ready to get our hands dirty. Working here makes your Monday suck less, and your Friday well-deserved.
        figure
          img(src="/img/job_party_tenten.jpg")
